/QL_Tinh_Cong_40/nbproject/private/
/JavaApplication14/nbproject/private/
/QL_Tinh_Cong_40/build/
/QL_Tinh_Luong_39/nbproject/private/
/QL_Tinh_Luong_39/build/
/QL_Tour_Du_Lich/nbproject/private/
/QL_Tour_Du_Lich/build/
/QL_Ban_Dien_Thoai_33/nbproject/private/
/QL_Ban_Dien_Thoai_33/build/
/QL_Nhom_SV_27/nbproject/private/
/QL_Ban_Hang_Trong_Sieu_Thi_24/nbproject/private/
/QL_Ban_Hang_Trong_Sieu_Thi_24/build/
/QL_Luu_Tru_Sach_TV_21/nbproject/private/
/QL_Luu_Tru_Sach_TV_21/build/
